%div.container-fluid
  %div.row
    %div.col-lg-12
      %h4 dspectrum  is a .....
      %br


  %p.vanity
    %a="Want to stay in touch? &nbsp;&nbsp;&nbsp;&nbsp;".html_safe
    %a= "-&nbsp;&nbsp;&nbsp;&nbsp;".html_safe 
        
    %a{:href => "https://twitter.com/tresacton"}="  @tresacton (on twitter) &nbsp;&nbsp;&nbsp;&nbsp;".html_safe
    %a= "- &nbsp;&nbsp;&nbsp;&nbsp;".html_safe
    %a="@nullwolf (on slack)&nbsp;&nbsp;&nbsp;&nbsp;".html_safe
    / %a 
    /   &copy; AdvisoryDB
    /   =Time.now.year