%div.container-fluid
  %div.row
    %div.col-lg-12
      %h4 DSpectrumGUI 
      %br
      %p Please follow the instructions below to contribute
      %hr
        %p 
          ="Navigate to "
          =link_to('https://github.com/tresacton/dspectrumgui','https://github.com/tresacton/dspectrumgui').html_safe

        %p= "Create a new issue with the title: [SectionTemplate] <name of your template>"
        %p= "Copy and paste the below text into the Issue description field, and hit submit"


      
        %pre{:style => "white-space: pre-line;background-color:grey;"}
          =@cont
      %br
      %p Thank you for donating this to our template library.
      %br
  %p.vanity
    %a="Want to stay in touch? &nbsp;&nbsp;&nbsp;&nbsp;".html_safe
    %a= "-&nbsp;&nbsp;&nbsp;&nbsp;".html_safe 
        
    %a{:href => "https://twitter.com/tresacton"}="  @tresacton (on twitter) &nbsp;&nbsp;&nbsp;&nbsp;".html_safe
    %a= "- &nbsp;&nbsp;&nbsp;&nbsp;".html_safe
    %a="@nullwolf (on slack)&nbsp;&nbsp;&nbsp;&nbsp;".html_safe



    / %a 
    /   &copy; AdvisoryDB
    /   =Time.now.year