-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top




  %a.nounderline{:href => "/",style:'float:left;padding-right:20px;padding-left:15px;'}
    %div{style:'float:left;padding-right:20px;padding-left:15px;'}
    %h3.neuro /dspectrum/
    %span.right by nullwolf
  
  %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  / %a.navbar-brand{:href => "/", :rel => "/", :title => ""}
  %div{style:'float:right;'}
    
